body {

    border: 2px solid darkgray;
    text-shadow: white 0px 0px 2px;
    font-size: 16px;
    background-size: 500px;
    opacity: 0.9;
}
.animal{
  width: auto;
  border: 20px solid;
  border-spacing: 5px;
}

.client{
  width: auto;
  border: 20px solid;
  border-spacing: 5px;
}
